<!doctype html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/style.css" type="text/css" media="screen" />
    <link rel="apple-touch-icon" sizes="180x180" href="static/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon-16x16.png">
    <link rel="manifest" href="static/site.webmanifest">
    <title>Performance graphs</title>
    <meta charset="utf-8" />
  </head>
  <body>
    <div id="title">
      <h1>A graphical overview of gathered performance metrics</h1>
    </div>
    <div id="page-wrapper">
      <div id="series-list">
        <ul>
          {% for serie in series %}
          <li>
            <h3 onclick="showImage('{{serie.name}}')">{{ serie.name}}</h3>
            <ul>
              <li>Last modified: {{ serie.last_modified}}</li>
              <li>Contains {{ serie.number_of_observations}} observations</li>
            </ul>
          </li>
          {% endfor %}
        </ul>
      </div>
      <div id="images-list">
        <ul>
          {% for serie in series %}
          <li>
            <div class="graph" id="{{serie.name}}" {% if loop.first %} style="display: block;"{% endif %}><img src="images/{{serie.name}}.svg" /></div>
          </li>
          {% endfor %}
        </ul>
        <script>
         function showImage(serieName) {
           var graphs = document.getElementsByClassName("graph");
           for (let i=0; i< graphs.length; i++) {
             console.log("serieName", serieName, "element", graphs[i]);
             let displayStyle = 'none';
             if(graphs[i].id === serieName) {
               displayStyle = 'block';
             }
             graphs[i].style.display = displayStyle;
           }
         }
        </script>
      </div>
    </div>
  </body>
</html>
